# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
parameters:
- name: productionDeploy
  displayName: 'Perform a Production deployment?'
  type: string
  default: No
  values:
    - No
    - Yes

variables:
   major: 1
   minor: 2
name: $(major).$(minor)$(Rev:.r)

# continueOnError: 
# container:
trigger:
- master

stages:
- stage: tag
  displayName: "Create git Tag"
  jobs:
  - job: tag
    steps:
    - task: git-tag-on-release-task@9
      displayName: "Add Tag to git"
      inputs:
        staticTagName: "TEST-$(Build.BuildNumber)"

- stage: CI
  condition: eq('${{ parameters.productionDeploy }}', 'Yes')
  pool:
    vmImage: 'ubuntu-latest'
  jobs:
  - job: run_script
    displayName: 'Run a one-line script'
    steps:
    - script: echo Hello, world!
 
    - script: | 
        echo Add other tasks to build, test, and deploy your project.
        echo See https://aka.ms/yaml
      displayName: 'Run a multi-line script'
